pytest==8.3.5
pytest-mock==3.14.0
pyperclip==1.9.0
python-docx
pdfminer.six
python-docx
Flask==2.0.3
beautifulsoup4==4.10.0
requests==2.26.0
google-api-python-client==2.31.0
google-auth==2.14.1
pypdf==3.3.0
markdown==3.3.4
reportlab==3.6.11
transformers==4.11.3
torch==1.10.0